<?xml version="1.0" encoding="utf-8"?>
<!-- 
   Copyright (c) 2013 The CCP project authors. All Rights Reserved.
 
   Use of this source code is governed by a Beijing Speedtong Information Technology Co.,Ltd license
   that can be found in the LICENSE file in the root of the web site.
 
    				http://www.yuntongxun.com
 
   An additional intellectual property rights grant can be found
   in the file PATENTS.  All contributing project authors may
   be found in the AUTHORS file in the root of the source tree.
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.speedtong.example"
    android:versionCode="8"
    android:versionName="4.0.0.2" >

    <uses-sdk
        android:minSdkVersion="8"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".ECApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="LOGGING"
            android:value="true" />
        <meta-data
            android:name="ALPHA"
            android:value="false" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53e3819efd98c5f1f2008b18" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="ec_im_speedtong" />

        <activity
            android:name="com.speedtong.example.ui.ECLauncherUI"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.chatting.ChattingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.speedtong.example.ui.account.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.contact.ContactDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.speedtong.example.ui.account.AccountChooseActivity"
             android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
		<activity
            android:name=".ui.group.CreateGroupActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.contact.ContactSelectListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
         <activity
            android:name=".ui.group.GroupInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
         <activity
            android:name=".ui.group.ApplyWithGroupPermissionActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.contact.GroupCardSelectUI"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.group.GroupNoticeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.chatting.ImagePreviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:process=":tools"
            android:screenOrientation="portrait"
            android:theme="@style/CCPTheme.Holo.Transparent" />
        <activity
            android:name=".ui.chatting.ImageGalleryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/CCPTheme.Holo.Transparent"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.plugin.FileExplorerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
		<service
            android:name="com.speedtong.sdk.ECClientService"
            android:exported="false" />
    </application>

</manifest>